*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.view{
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color: rgb(244, 225, 225);
    padding-top: 5%;
}
.container li{
     margin: 10px auto;
     width: 600px;
     background-color: white;
     list-style: none;
     padding: 1%;
     border-radius: 5px;
}
.view h1{
  font-size: 2vw;
    text-align: center;
  margin-bottom: 3%;
}
.container li label{
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1.5vw;
   color: brown;
   font-weight: 500;
}
.container  label + input[type="radio"]{
    display: none;
   
 }
 .content{
     max-height: 0;
     overflow: hidden;
 }
 .container  label + input[type="radio"]:checked + .content{
   max-height:40%;
   
 }
 .content p{
     font-size: 1vw;
 }